header {
	width:  100%;
	background-color:  #114B5F;
	display: inline-block;
	font-family: 'Averia Serif Libre', cursive;

}
body {
	background-color:  #D2E3DE;
	font-family: 'Averia Serif Libre', cursive;
}
main {
	text-align: center;
}
a {
	text-decoration: none;
	color: #7FC6A4;
}
#logo {
	vertical-align: middle;
	width: 30%;
	margin-right: 5%;
}
#title {
	color: white;
	font-size: 50px;
	margin:  0 !important;
	font-weight: 300;
	float: left;
}
#section-logo-title {

}
#section-menu-link {
	width: 30%;
	
	float: left;
	margin-top: 1.5%;
	margin-left: 45%;

}
.menu-link-box {
	width: 40%;
	border: 3px solid #7FC6A4;
	border-radius: 10px;
	color: #7FC6A4;
	font-size: 22px;
	font-weight: 800;
	text-align: center;
	display: inline-block;
	margin-left: 5%;
	float: right;
}
 h4 {
 	margin-top: 6%;
 	font-size: 23px;
 	font-weight: 300;
 	color: #114B5F;
 }
#divider {
	width: 10%;
	margin-left: auto; margin-right: auto;
	margin-bottom: 3%;
	border: 1px solid #114B5F;
}
.sport {
	width: 2%;
	border: 2px solid #114B5F;
	padding: 0.25%;
	border-radius: 30px;
	margin-right: 0.5%;
	background-color: #7FC6A4;
}
#map {
	width: 90%;
	height: 400px;
	background-color: #DAECE9;
	box-shadow: 10px 5px 5px grey;
	margin-left: auto; margin-right: auto;
	margin-top: 5%; margin-bottom: 2%;
}
.geolocalisation {
	width: 20%;
	padding: 1% 2%;
	border: 3px solid #7FC6A4;
	border-radius: 10px;
	color: #7FC6A4;
	font-size: 22px;
	font-weight: 800;
	margin-left: auto; margin-right: auto;

}
.button {
	width: 20%;
	padding: 1% 2%;
	border: 3px solid #7FC6A4;
	border-radius: 10px;
	color: #7FC6A4;
	font-size: 22px;
	font-weight: 800;
	margin-left: auto; margin-right: auto;
}
